nav{
    background-color: #a6d2d5;
    font-size: 1.3rem;
}
.logo{
    padding-top: 6rem;
    background-image: url(reading-reader-kindle-female-76942.jpg);
    height: 400px;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo-text{
    font-style: italic;
    font-size: 4.5rem;
    text-align: center;
}
.left-text{
    background-color: #a6d2d5;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-family: 'yeseva one' cursive;
}
.row{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-style: italic;
    text-shadow: black;
}
.text-center{
    background-image: url(white-ceramic-cup-beside-a-laptop-on-white-table-3740253.jpg);
}
a{
    color: blanchedalmond;
}
.list-group-item{
    color: rgb(243, 204, 226);
}